/* JQuery stuff */
.ui-button {
   display: none;
}

.ui-dialog-content {
    padding: 0;
    min-height: 0;
}

.ui-helper-hidden-accessible {
	display: none;
}

/* Custom stuff */

.mark_btn {
    cursor: pointer;
}

.img-full {
    position: fixed;
    background-color: #CCC;
    border: 1px solid #000;
    cursor: pointer;
}

.strikethrough {
    text-decoration: line-through;
}

.post_preview {
    z-index: 300;
    position:absolute;
}

.gallery_image {
    display: inline-block;
}

@media print {
    .post-form-w {
        display: none;
    }
}

input[name="image"] {
     display: block;
     width: 100px;
     height: 100px;
     cursor: pointer;
     position: absolute;
     opacity: 0;
     z-index: 1;
}

.compact-form-text {
    margin-left:110px;
}

textarea, input {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.compact-form-text > textarea {
    height: 100px;
    width: 100%;
}

.post-button-form {
    display: inline;
}

.post-button-form > button, #autoupdate {
    border: none;
    margin: inherit;
    padding: inherit;
    background: none;
    font-size: inherit;
    cursor: pointer;
}

.post-image-full {
    width: 100%;
    height: auto;
}

.preview-text {
    display: none;
}

.random-images-table {
    text-align: center;
}

.random-images-table > div {
    margin-left: auto;
    margin-right: auto;
}

.tag-image, .tag-text-data {
    display: inline-block;
}

.tag-text-data > h2 {
    margin: 0;
}

.tag-image {
    margin-right: 5px;
}

.reply-to-message {
    display: none;
}

.tripcode {
    padding: 2px;
}

#fav-panel {
    display: none;
    margin: 1ex;
}

.hidden_post {
    opacity: 0.2;
}

.hidden_post:hover {
    opacity: 1;
}

.url-image:hover, .monochrome .url-image:hover {
    filter: invert(100%);
}

.monochrome > .image, .monochrome .url-image, .monochrome.img-full {
    filter: grayscale(100%);
}

#quote-button {
    position: absolute;
    display: none;
    cursor: pointer;
    z-index: 400;
}

.required-field:before {
    content: '* ';
}

.hint {
    border-bottom: dashed 1px;
    cursor: help;
}

.landing-tags, .landing-images {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.landing-images {
    text-align: center;
}

.landing-threads {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.landing-threads > .thread-short {
    display: inline-block;
    width: 240px;
}

audio {
    width: 300px;
}

.image-preview {
    max-width: 200px;
    max-height: 150px;
    margin: 5px;
}

.image-metadata {
    max-width: 200px;
}

html {
    font-family: sans-serif;
}


.blinking-block {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% { opacity: 0; }
}

#up {
    position: fixed;
    bottom: 5px;
    right: 5px;
    padding: 4px;
}

.sticker-preview {
	max-width: 200px;
	max-height: 150px;
}

.file-preview:hover {
    filter: brightness(0.4);
}

input[type=file] {
    display: none;
}

.pasted-images {
	display: flex;
    flex-wrap: wrap;
}

#overlay {
   position: absolute;
   height: 100%;
   width: 100%;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: rgba(0,0,0,0.8);
   display: none;
}

.post-form-w {
    position: relative;
}

#rollover-link[data-thread-status=ACTIVE] {
    display: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
}

.message a:not([href^='/']):before {
    content: "\1f517\00a0";
}

.page_link > a:not([data-async]) {
    display: none;
}

template {
    display: none;
}

.flashing {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}}