<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: head" />
    <title th:text="${@utilService.getSiteName()}"></title>
</head>
<body>
<th:block th:include="common :: headerFragment" />

<div class='page_link'>
    <a id="previous-page-url" href="#" data-page-link="true" th:text="#{page.prev}" data-options="openButton threadCounters"></a>
</div>

<th:block th:each="block : ${apiBlocks}" th:utext="${block.toString()}">
</th:block>

<div class='page_link'>
    <a id="next-page-url" href="#" data-page-link="true" th:text="#{page.next}" data-options="openButton threadCounters"></a>
</div>

<th:block th:include="common :: footerFragment" />
</body>
</html>