<div xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="headerFragment">
        <header class="navigation_panel"
                data-image-viewer="popup"
                th:data-site-name="${@utilService.getSiteName()}">
            <a class="link" href="/" th:text="${@utilService.getSiteName()}">Site name</a>
            <th:block th:utext="${@utilService.getUrlList(@settingsService.getFavoriteTags(), true)}" />
            <a href="/search/" th:text="#{navigation.search}">Search</a>,
            <a href="/feed/" th:text="#{navigation.feed}">Feed</a>
            <a class="right-link link" href="/settings/" th:text="#{navigation.settings}">Settings</a>
        </header>

        <script th:src="@{/js/3rdparty/jquery-3.4.1.min.js}"></script>
        <script th:src="@{/js/3rdparty/jquery.form.min.js}"></script>
        <script th:src="@{/js/3rdparty/jquery-ui.min.js}"></script>
        <script th:src="@{/js/3rdparty/jquery.mousewheel.js}"></script>
        <script th:src="@{/js/3rdparty/jquery.contextmenu.min.js}"></script>
        <script th:src="@{/js/3rdparty/jquery.ui.position.min.js}"></script>

        <script th:src="@{/js/image.js}"></script>
    </div>

    <div th:fragment="footerFragment">
        <template id="template-post">
            <div class="{{ class }}" id="{{ id }}" data-opening="{{ opening }}" data-uuid="{{ uuid }}">
                <div class="post-info">
                    <a class="post_id" href="{{ url }}">#{{ id }}</a>
                    <span class="title">{{ title }}</span>
                    <span class="pub_time">{{ pubTime }}</span>

                    {{#if admin}}
                    <a
                       class="admin-post-context-menu"
                       style="color:#{{ posterAddressColor }}"
                       title="{{ posterAddress }}"
                       href="/feed/?address={{ posterAddress }}">&#11044;</a>
                    {{/if}}

                    {{#if tripcode}}
                        <a class='tripcode' title='{{ tripcode }}' href='/feed/?tripcode={{ tripcode }}' style='border: solid 2px #{{ tripcodeColor }}; border-left: solid 1ex #{{ tripcodeColor }};'>{{ tripcodeColor }}</a>
                    {{/if}}

                    {{#if threadUrl}}
                    <th:block th:utext="#{'post.in'}">in</th:block> <b><a href="/thread/{{ threadId }}">&gt;&gt;{{ threadId }}</a> <span class="title">{{threadTitle}}</span></b>
                    {{/if}}

                    <!--/* If this is not a popup or whatsoever, show open or reply button */-->
                    {{#if active}}
                    {{#if replyButton}}
                        <a href="#form" class="quick-reply" th:text="#{post.reply}">Reply</a>
                    {{/if}}
                    {{/if}}
                    {{#if opening}}
                    {{#if openButton}}
                        <a href="{{ url }}#form" th:text="#{post.open}">Open</a>
                    {{/if}}
                    {{/if}}
                </div>

                {{#each attachments}}
                    {{#render ../options}}{{/render}}
                {{/each}}

                <div class="message">{{{ text }}}</div>

                {{#if opening}}
                <div class="metadata">
                    {{{ metadata }}}
                </div>
                {{/if}}

                {{#if replies }}
                <div class="refmap"><th:block th:utext="#{post.replies} + ': '"></th:block> {{{ refmap }}}</div>
                {{/if}}
            </div>
        </template>

        <template id="template-tag">
            <div class="post">
                <div class="message">
                    <div><a class="tag" href="/tag/{{ name }}">{{ name }}</a></div>
                </div>
            </div>
        </template>

        <template id="template-thread-preview">
            <div class="thread">
                {{#with openingPost}}
                    {{#render ../options}}{{/render}}
                {{/with}}
                {{#if skippedReplies }}
                <div data-only="skipped-replies" class="skipped_replies">
                    <a href="/thread/{{ threadId }}"><span th:text="#{all.threads.skipped}"></span> {{ skippedReplies }}</a>
                </div>
                {{/if}}
                {{#if lastPosts }}
                <div data-only="last-replies" class="last-replies">
                    {{#each lastPosts}}
                    {{#render ../options}}{{/render}}
                    {{/each}}
                </div>
                {{/if}}
            </div>
        </template>

        <template id="template-thread">
            <div class="tag_info">
                <h2>{{ title }}</h2>
                <a id="rollover-link" data-thread-status="{{ status }}" th:text="#{thread.rollover}" href="/?fromId={{ id }}#form"></a>
            </div>

            <div class="image-mode-tab">
                <a href="/thread/{{ id }}" th:text="#{thread.mode.thread}"></a> /
                <a href="/thread/{{ id }}/gallery" th:text="#{thread.mode.gallery}"></a>
            </div>

            <button id="quote-button" th:text="#{thread.quote}">Quote</button>

            <div class="bar-bg">
                <div class="bar-value" style="width: {{ emptyness }}%" id="bumplimit_progress"></div>
            </div>

            <div class="thread">
                {{#each posts}}
                    {{#render ../options}}{{/render}}
                {{/each}}
            </div>
        </template>

        <template id="template-tag-info">
            <div class="tag_info">
                <div class="tag_text_data">
                    <h2>/<a class="tag" href="/tags/{{ name }}/">{{ name }}</a>/</h2>

                    <div class="post-button-form">
                        {{#if favorite }}
                            <button th:class="fav" data-url="/api/tags/{{ name }}/remove-favorite" th:text="${'&#128077; ' + #messages.msg('favorites.remove')}"></button>
                        {{else}}
                            <button th:class="not_fav" data-url="/api/tags/{{ name }}/add-favorite" th:text="${'&#128077; ' + #messages.msg('favorites.add')}"></button>
                        {{/if}}
                        {{#if hidden }}
                            <button th:class="fav" data-url="/api/tags/{{ name }}/remove-hidden" th:text="${'&#128078; ' + #messages.msg('hidden.remove')}"></button>
                        {{else}}
                            <button th:class="not_fav" data-url="/api/tags/{{ name }}/add-hidden" th:text="${'&#128078; ' + #messages.msg('hidden.add')}"></button>
                        {{/if}}
                    </div>
                </div>
            </div>
        </template>

        <template id="template-active-threads">
            {{#if models}}
            <div class="post">
                <div class="post-info" th:text="#{thread.active.today}">Active today</div>
                <div class="message">
                    {{#each models}}
                        <div><b><a href="{{url}}">&gt;&gt;{{id}}</a></b> {{title}}</div>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </template>

        <template id="template-form">
            <div class="post-form-w">
                <div id="overlay"></div>

                <div class="post-form" data-form-type="post">
                    {{#if formTitle}}
                    <div class="form-title">{{{formTitle}}}</div>
                    {{/if}}
                    <div class="swappable-form-full">
                        <form id="form" action="{{action}}" method="post" enctype="multipart/form-data"
                              th:data-line-breaks="${@parserService.getLineBreaks()}">
                            <div class="form-row"><div class="form-label"><label for="title" th:text="#{form.title}"></label></div><div class="form-input"><input type="text" name="title" th:placeholder="#{form.hint.title}" maxlength="200" value="{{title}}"></div></div><div class="form-row"></div>
                            {{#unless edit}}
                            <div class="form-row"><div class="form-label"><label for="tripcode" th:text="#{form.tripcode}"></label></div><div class="form-input"><input type="text" name="tripcode" th:placeholder="#{form.hint.tripcode}" maxlength="200"></div></div><div class="form-row"></div>
                            {{/unless}}
                            <div class="form-row"><div class="form-label"><label for="text" th:text="#{form.text}">Text</label></div>
                                <div class="form-input" th:with="panelText=${@parserService.getPanelText()}">
                                    <div id="mark-panel" th:if="${panelText != null}" th:utext="${panelText}">
                                    </div>
                                    <textarea name="text" cols="40" rows="4" th:placeholder="#{form.hint.text}">{{text}}</textarea>
                                </div>
                            </div>
                            {{#unless edit}}
                            <div class="form-row"><div class="form-label"><label for="attachments" th:text="#{form.attachments}">Attachments</label></div><div class="form-input">
                                <textarea name="attachment_urls" cols="40" rows="2" th:placeholder="#{form.hint.attachment.links}" ></textarea>
                                <input type="file" name="attachments" multiple>
                                <div class="pasted-images"></div>
                            {{/unless}}
                            </div></div><div class="form-row"></div>
                            {{#if tagsEnabled}}
                            <div class="form-row"><div class="form-label"><label for="tags" th:text="#{form.tags}">Tags</label></div><div class="form-input"><input type="text" name="tags" th:placeholder="#{form.hint.tags}" maxlength="100" value="{{tags}}" required></div></div><div class="form-row"></div>
                            {{/if}}
                            <div class="form-submit">
                                <button class="icon-floppy" type="submit"  th:text="#{form.submit}"/>
                                <button class="file-picker icon-attach" type="button" th:text="#{form.hint.attachment.files}">File picker</button>
                                <button class="icon-keyboard" id="preview-button" type="button" onclick="return false;" th:text="#{form.preview}">Preview</button>
                                {{#unless edit}}
                                <button class="icon-cancel" onClick="resetForm(); return false;" th:text="#{form.reset}">Reset form</button>
                                {{/unless}}
                            </div>
                            <div class="form-errors">
                            </div>

                            <div class="preview-text"></div>
                        </form>

                        <div th:text="${#messages.msg('form.max.attachments') + ': ' + @postFormValidator.getMaxAttachmentsCount()}">Max attachments</div>
                        <div th:text="${#messages.msg('form.max.size') + ': ' + @postFormValidator.getMaxSizeStr()}">Max size</div>
                        <div th:text="#{form.paste.images}">Paste images</div>
                    </div>
                </div>
            </div>
        </template>

        <template id="template-loading">
            <div class="post flashing" th:text="#{navigation.loading}">
            </div>
        </template>

        <template id="template-feed-criteria">
            <div class="post">
                {{key}}: {{value}}
            </div>
        </template>

        <template id="template-search-form">
            <div class="post-form-w">
                <div class="post-form">
                    <div class="swappable-form-full">
                        <form action="" method="get">
                            <div class="form-row"><div class="form-label"><label for="query" th:text="#{form.query}">Query</label></div><div class="form-input"><input type="text" name="query" maxlength="200" value="{{query}}"></div></div><div class="form-row"></div>
                            <div class="form-submit">
                                <input type="submit" th:value="#{form.submit}"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            {{#if admin}}
                {{#if query}}
                <div class="post">
                    <div class="message post-button-form">
                        <button data-url="/api/admin/cleanup/{{query}}"
                                th:data-confirm="#{admin.ban.and.delete}"
                                th:text="#{post.delete.all}">
                        </button>
                    </div>
                </div>
                {{/if}}
            {{/if}}
        </template>

        <template id="template-gallery">
            <div class="image-mode-tab">
                <a href="/thread/{{ id }}" th:text="#{thread.mode.thread}"></a> /
                <a href="/thread/{{ id }}/gallery" th:text="#{thread.mode.gallery}"></a>
            </div>

            <div class="post gallery">
                {{#each attachments}}
                    {{#render ../options}}{{/render}}
                {{/each}}
            </div>
        </template>

        <template id="template-attachment">
            {{{content}}}
        </template>

        <footer class="navigation_panel">
            <b><a href="https://bitbucket.org/neko259/neboard5/" th:text="${@utilService.getSiteVersion()}">Version</a></b>

            <span id="paginator"></span>

            <span th:text="#{post.speed} + ': ' + ${#numbers.formatDecimal(@postService.getPostSpeed(), 1, 'COMMA', 2, 'POINT')}">Post speed</span>
            [<a href="/actuator/info" th:text="#{service.health}">Health report</a>]

            <a class="link" href="#top" id="up" th:text="#{common.up}">Up</a>

            <script th:src="@{/js/refpopup.js}"></script>
            <script th:src="@{/js/3rdparty/handlebars.min-v4.7.6.js}"></script>
            <script th:src="@{/js/form.js}"></script>
            <script th:src="@{/js/main.js}"></script>
            <script th:src="@{/js/thread.js}"></script>
            <script th:src="@{/js/thread_update.js}"></script>
        </footer>
    </div>

    <div th:fragment="head">
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1"/>

        <link rel="icon" type="image/png" th:href="@{/favicon.png}" />
        <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}" />

        <link rel="stylesheet" type="text/css" th:href="@{/css/base.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{/css/fontello-embedded.css}" />
        <link rel="stylesheet" type="text/css" th:href="@{${'/css/' + (theme ?: @settingsService.getTheme()) + '/base_page.css'}}" />
        <link rel="stylesheet" th:href="@{/css/jquery.contextmenu.min.css}">
    </div>

    <div th:fragment="prevPageLink">
        <th:block th:with="url=${@utilService.getPrevPageLink(page, #request)}">
            <th:block th:utext="${url}" />
        </th:block>
    </div>

    <div th:fragment="nextPageLink">
        <th:block th:with="url=${@utilService.getNextPageLink(page, #request)}">
            <th:block th:utext="${url}" />
        </th:block>
    </div>
</div>
