<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: head" />
    <title th:text="${#messages.msg('common.error') + ' - ' + @utilService.getSiteName()}">Error</title>
</head>
<body>
<th:block th:include="common :: headerFragment" />

<div id="posts-table">
    <p><img th:src="@{/images/404.png}" width="200"></p>
    <h1 th:text="${status + ' ' + error}"></h1>
    <p th:text="#{common.something.wrong}">Error</p>
</div>

<th:block th:include="common :: footerFragment" />
</body>
</html>