<div xmlns:th="http://www.thymeleaf.org" th:fragment="formFragment">
    <div class="post-form-w">
        <div id="overlay"></div>

        <div class="post-form" data-form-type="post">
            <div class="form-title" th:if="${title}" th:utext="${title}">Form title</div>
            <div class="swappable-form-full">
                <form id="form" th:action="@{''}" th:object="${form}" method="post" enctype="multipart/form-data"
                    th:data-line-breaks="${@parserService.getLineBreaks()}">
                    <div class="form-row"><div class="form-label"><label for="title" th:text="#{form.title}">Title</label></div><div class="form-input"><input type="text" th:field="*{title}" th:placeholder="#{form.hint.title}" maxlength="200"></div></div><div class="form-row"></div>
                    <div class="form-row" th:if="${create ?: true}"><div class="form-label"><label for="tripcode" th:text="#{form.tripcode}">Tripcode</label></div><div class="form-input"><input type="text" th:field="*{tripcode}" th:placeholder="#{form.hint.tripcode}" maxlength="200"></div></div><div class="form-row"></div>
                    <div class="form-row"><div class="form-label"><label for="text" th:text="#{form.text}">Text</label></div>
                        <div class="form-input" th:with="panelText=${@parserService.getPanelText()}">
                            <div id="mark-panel" th:if="${panelText != null}" th:utext="${panelText}">
                            </div>
                            <textarea th:field="*{text}" cols="40" rows="4" th:placeholder="#{form.hint.text}"></textarea>
                        </div>
                    </div>
                    <div class="form-row" th:if="${create ?: true}"><div class="form-label"><label for="attachments" th:text="#{form.attachments}">Attachments</label></div><div class="form-input">
                        <textarea th:field="*{attachment_urls}" cols="40" rows="2" th:placeholder="#{form.hint.attachment.links}" ></textarea>
                        <input type="file" th:field="*{attachments}" multiple>
                        <div class="pasted-images"></div>
                    </div></div><div class="form-row"></div>
                    <th:block th:if="${form instanceof T(me.neboard.newneboard.form.ThreadForm)}">
                        <div class="form-row"><div class="form-label"><label for="tags" th:text="#{form.tags}">Tags</label></div><div class="form-input"><input type="text" th:field="*{tags}" value="movies" th:placeholder="#{form.hint.tags}" maxlength="100" required></div></div><div class="form-row"></div>
                    </th:block>
                    <div class="form-submit">
                        <button class="icon-floppy" type="submit"  th:text="#{form.submit}"/>
                        <button class="file-picker icon-attach" type="button" th:text="#{form.hint.attachment.files}">File picker</button>
                        <button class="icon-keyboard" id="preview-button" type="button" onclick="return false;" th:text="#{form.preview}">Preview</button>
                        <button class="icon-cancel" onClick="resetForm(); return false;" th:text="#{form.reset}" th:if="${create ?: true}">Reset form</button>
                    </div>
                    <div class="form-errors">
                        <div th:each="e : ${#fields.detailedErrors()}">
                            (!) <span th:text="${e.message}">The error message</span>
                        </div>
                    </div>

                    <div class="preview-text"></div>
                </form>

                <div th:text="${#messages.msg('form.max.attachments') + ': ' + @postFormValidator.getMaxAttachmentsCount()}">Max attachments</div>
                <div th:text="${#messages.msg('form.max.size') + ': ' + @postFormValidator.getMaxSizeStr()}">Max size</div>
                <div th:text="#{form.paste.images}">Paste images</div>
            </div>
        </div>

        <script th:src="@{/js/form.js}"></script>
    </div>
</div>
