<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: head" />
    <title></title>
</head>
<body>
<th:block th:include="common :: headerFragment" />

<div class='page_link'>
    <a id="previous-page-url" href="#" data-page-link="true" th:text="#{page.prev}"></a>
</div>

<div>
    <th:block th:each="block : ${apiBlocks}" th:utext="${block.toString()}">
    </th:block>
</div>

<div class='page_link'>
    <a id="next-page-url" href="#" data-page-link="true" th:text="#{page.next}"></a>
</div>

<th:block th:include="common :: footerFragment" />
</body>
</html>