<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common :: head" />
    <title></title>
</head>
<body th:data-update-timeout="${updateTimeout}" >
<th:block th:include="common :: headerFragment" />

<th:block th:each="block : ${apiBlocks}" th:utext="${block.toString()}">
</th:block>

<th:block th:include="common :: footerFragment" />
</body>
</html>